
.center {
    justify-content: center;
    align-items: center;
    text-align: center;
    position:relative;
    display:block;
    
}

.titulo2 {
     color: #b48608; 
     font-family: 'Droid serif', serif; 
     font-size: 36px; 
     font-style: italic; 
     text-align: center; 
}

.titulo {
    color: #b48608; 
     font-family: 'Droid serif', serif; 
     font-size: 80px; 
     font-weight: 400; 
     font-style: italic; 
     line-height: 44px; 
     text-align: center; 
     margin: 0 0 12px;
}

.inputCreaPedido{
    border: 1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 2px 2px 3px #666;
	-webkit-box-shadow: 2px 2px 3px #666;
	box-shadow: 2px 2px 3px #666;
	font-size: 18px;
    font-style: italic; 
	padding: 4px 7px;
	outline: 0;
	-webkit-appearance: none;
    min-width: 260px;
}

.inputCreaPedido:focus{
    border-color: #b48608; 
}


.imagenMenu{
    width: 70%;
    height: 70%;
    border: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 10%;
    opacity: 0.7;
    margin-top: 5.0rem;
    
}

.imagenMenu:hover{
    opacity: 0.99; 
}

.producto{
    font-family: "Poppins", Arial, sans-serif;
    color: gray;
    height: 350px;
    max-width: 350px;

    opacity: 0.7;
}

.producto:hover{
    opacity: 0.99; 
}

.imagenProducto{
    height: 200px;
    max-width: 200px;
    margin:40px;
}

.imagenCarrito{
    height: 50px;
    width: 50px;
    margin:20px;
}

.divProductos{
    margin-top: 5.0rem;
    margin-left: 6.0rem;
}

.productoCarrito{
    font-family: "Poppins", Arial, sans-serif;
    color: gray;
    margin-left: 10%;
    min-height: 90px;
    width: 84%;
    border: solid;
    border-color: rgb(230, 230, 230);
    border-width: 1px;
    opacity: 0.7;
    flex-direction: row;
    font-size: 12px;
}

.carrito{
    margin-top: 100px;
    font-family: "Poppins", Arial, sans-serif;
    color: gray;
}

.envioInfo{
    margin-top: 60px;
    height: 300px;
    font-style: italic;
}

.row{
    --bs-gutter-x: 0 !important;
}



.divPromociones{
    margin-top: 60px;
    margin-bottom: 100px;
}

.envioEstado{
    font-family: "Poppins", Arial, sans-serif;
    color: gray;
    height: 300px;
    font-style: italic;
}

.precioTotal{
    margin-top:10px;
    font-style: italic;
}

.botonAumentarCantidad{
    margin-left: 20px;
    width: 25px;
    height: 25px;
    background-color: aquamarine;
    font-weight: bold;
}

.botonDisminuirCantidad{
    margin-left: 10px;
    width: 25px;
    height: 25px;
    background-color:crimson;
    font-weight: bold;
}
