#cuerpo{
    font-family: 'Droid serif', serif; 
    font-style: italic;
    /* Ponemos como fondo una imagen que tenemos de archivo */
    background-image: url(../images/bg_4.jpg);
    /* Hacemos translúcida la imagen */
    /* background-color: rgba(250, 250, 250, 0.5);
    background-blend-mode: lighten; */
    /* La imagen tiene que cubrir toda la pantalla */
    background-size: cover;
    /* La imagen no se repite */
    background-repeat: no-repeat;
    /* La imagen está fija en la posición de la pantalla */
    background-attachment: fixed;
    /* Centramos la imagen */
    background-position: center;
    /* Hacemos que el contenido de la página no se pueda seleccionar */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* Ajustamos la imagen al tamaño completo de la pantalla */
    height: 100%;


}

#titulo1{
    color: #b48608;
    /* Ponemos la letra en negrita */
    font-weight: bold;
    font-size: 75px;
    text-align: center;
    padding-top: 4%;
}

#titulo2{
    color: #b48608;
    /* Ponemos la letra en negrita */
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    padding-top: 4%;
}

#cuerpo2{
    /* Ponemos en kursiva las letras */
    font-style: italic;
    color: rgb(198, 198, 198);
    text-align: center;
    margin-top: 3%;
    margin-left: 9%;
    margin-right: 11%;
    
}

#video{
    margin-top: 3%;
    padding-bottom: 80px;
}

/* footer{
    /* Ajustamos el footer justo al final del tamaño de nuestra pantalla
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    text-align: center;
    padding: 2%;
    background-color: #a1a1a1;
} */

